<!DOCTYPE html>
<html>
  <head>
    <title>Nhận diện khuôn mặt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='lodash.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='immutable.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='axios.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='jquery.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='app.js') }}"
    ></script>
  </head>
  <body>
    <div class="container">
      <h1>Nhận diện khuôn mặt</h1>

      <ul class="tabs">
        <li data-section="train-content">Đăng ký khuôn mặt</li>
        <li data-section="recognize-content">Nhận diện khuôn mặt</li>
      </ul>
      <div id="train-content">
        <h2>Đăng ký</h2>
        <form method="post" id="train">
          <div class="message"></div>
          <div class="form-item">
            <label for="input-file">Đăng ký bằng hình ảnh</label>
            <input
              multiple
              type="file"
              name="file[]"
              id="input-file"
              accept="image/*"
            />
          </div>
          <div class="form-item">
            <label>Họ và tên</label>
            <input
              id="name-field"
              name="name"
              value=""
              type="text"
              placeholder="Full name"
            />
          </div>
          <div class="form-item">
            <label>Bắt đầu đăng ký khuôn mặt bằng camera</label>
            <a href="regis" target="_blank"
              ><button type="button">Bật camera</button>
            </a>
          </div>
          <br />
          <div class="form-action">
            <input type="submit" value="Đăng ký" />
          </div>
        </form>
      </div>

      <div id="recognize-content">
        <h2>Nhận diện</h2>

        <form method="post" id="recognize">
          <div class="message"></div>
          <p class="description">
            Tải lên ảnh mà bạn muốn nhận diện các khuôn mặt trong đó
          </p>
          <div class="form-item">
            <label for="input-file">Hình ảnh</label>
            <input
              type="file"
              name="file"
              id="recognize-input-file"
              accept="image/*"
            />
          </div>

          <div class="form-action">
            <button type="submit">Bắt đầu nhận diện</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
