<!DOCTYPE =html>
<html>
  <head>
    <title>Điểm danh</title>
  </head>
  <body>
    <table border="1" align="center">
      <tbody>
        <tr>
          <td colspan="2">
            <img src="{{result[0]}}" width="450" height="400" />
          </td>
        </tr>
        {%for value in result[1:] %}
        <tr align="center">
          <td align="center"><img src="{{value}}" width="90" height="90" /></td>
          <td align="center">{{value[1:-4]}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <!-- <table border="1">
      <br />
      {%for value in result %}
      <tr>
        <th>
          
        </th>
      </tr>
      {%endfor%}
    </table> -->
  </body>
</html>
